server {
  listen 80;
  server_name {{ monitoring_domain }};

  location /prometheus {
    proxy_pass http://{{ ansible_host | default('localhost') }}:9090/;
  }


  location /graph {
    proxy_pass http://{{ ansible_host | default('localhost') }}:9090/graph; 
  }                                                                    
                                                                       
  location /grafana {                                                  
    proxy_pass http://{{ ansible_host | default('localhost') }}:3000/; 
  }
}
